$pesticide-debug: false;

// vendor
@import "../vendor/styles/bourbon/bourbon";
// @import "../vendor/styles/animate/animate";
@import "components/bootstrap/bootstrap";
@import "../vendor/styles/jeet/index";
@import "../vendor/styles/font-awesome/font-awesome";

// components
// @import "../assets/fonts/webfont/webfont";
// @import "../fonts/webfont/webfont";
@import "components/inputs";

// helpers
@import "helpers/mixins";
@import "helpers/helpers";
@import "helpers/variables";
@import "helpers/social_media_colors";
@import "helpers/pesticide";

// @import "components/slider";
@import "components/modal";
// @import "components/animations";
@import "components/buttons";

// fonts
// @import "fonts/iconfont/iconfont";

// plugins
@import "plugins/slick";

// layout
@import "layout/scaffolding";

// partials
@import "partials/header";
@import "partials/footer";

// pages
@import "pages/body";
@import "pages/index";


#debug-kit-toolbar {
	display: none;
}

#dp_swf_engine {
	display: none;
}